html {
    height: 100%;
  }
  body {
    min-height: 100%;
    margin: 0;
  }
  
.flexbox-container {
    display: flex;
    height: calc(100vh - 45px);
    flex-direction: column;
    }

.flexbox-row-cont {
    display: flex;
    flex-grow: 1;
    width: device-width;
    background-color: blue;
    flex-direction: row;
    
}

.flexbox-column-cont {
    display: flex;
    flex-grow: 1;
    width: device-width;
    margin: 10px;
    background-color: green;
    flex-direction: column;
    
}

#main-view {
    flex-grow: 5;
}

#bottom-items{
    flex-grow: 1;
}


   

  


  


  
  